$primary-bg-color: #121212;
$primary-button-color: #2a2a2a;
$primary-article-color: #242424;
$primary-text-color: #fff;
$black-text-color: #000;
$spotify-color: #b3b3b3;

.main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background: $primary-article-color;

  border-radius: 8px;
  gap: 1.5rem;
  padding: 1rem 2rem;
  height: 75vh;
}

.header {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.allBtn,
.musicBtn,
.podcastsBtn {
  background: $primary-bg-color;

  padding: 0.5rem;
  border-radius: 60px;

  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.allBtn {
  background: $primary-text-color;
  color: $black-text-color;
}

.horizontalDivider {
  width: 100%;
  border-top: 1px solid $black-text-color;
}

.beneficialLinksNav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 2rem 0rem 1rem 0rem;
}

.navListsContainer {
  display: flex;
  flex-wrap: wrap;

  gap: 3rem;
}

.navContainer {
  display: flex;
  flex-direction: column;

  gap: 0.75rem;
}

.navHeading {
  font-size: 1rem;
}

.navList {
  display: flex;
  flex-direction: column;

  list-style: none;

  gap: 0.75rem;
  min-width: 9rem;
}

.navListItem {
  color: $spotify-color;

  font-size: 0.9rem;
}

.listItemLink:hover {
  color: $primary-text-color;

  text-decoration: underline;
}

.socialLinksContainer {
  display: flex;
  align-items: flex-start;

  gap: 0.5rem;
}

.socialLink {
  background: $primary-bg-color;

  padding: 0.75rem;
  border-radius: 50%;
}

.socialLink > svg {
  color: $primary-text-color;
}

.rightsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.documentsLinksContainer {
  display: flex;
  align-items: center;

  color: $spotify-color;

  font-style: normal;
  font-size: 0.9rem;

  gap: 0.75rem;
}

.documentLink:hover {
  color: $primary-text-color;
}

.copyrightLogo {
  color: $spotify-color;

  font-size: 0.9rem;
}
