.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;

  padding: 0rem 0.5rem;
}

.mainWrapper > :first-child {
  flex: 0 0 30%;
}

.mainWrapper > :last-child {
  flex: 1;
}
